h1 {
    font-size: 2.2em;
    font-weight: lighter;
}
li {
    font-size: larger;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    li {
        font-size: large;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }
    li {
        font-size: medium;
    }
}